#navbar_home{
    padding : 0rem 2rem 0rem 2rem;
}

#hamburger_button{
    margin : 2rem;
    background : black;
}

#navbar_buttons{
    margin : 2rem 2rem 2rem 2rem;
}

#navbar_container{
    padding : 0rem;
    margin : 0rem;
}

#about_me_image {
    width : "100%";
    margin : 0rem 0rem 4rem 0rem;
}

#about_me_text{
    padding : 0rem 0rem 4rem 0rem;
}

#about{
    padding: 0rem;
}

.team-item{
    padding: 0rem 0rem 1rem 0rem;
}